{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <a href="{{ path('app_logout') }}">Выходgi</a>

    <h1> {{ title }}</h1>

    <a href="{{ path('admin_user') }}">Пользоматели</a>

{% endblock %}