.form {
    width: 90%;
    border-radius: 5px;
    margin-top: 0px;
}

.navbar-current {
    margin-top: 40px;
    padding-left: 440px;
    background: rgba(215, 35, 29, 0.91) !important;
    height: 70px;
}

.main-color {
    background: rgba(215, 35, 29, 0.91) !important;
}

.main-color:not(:disabled):not(.disabled):active, .main-color:not(:disabled):not(.disabled).active,
.show > .main-color.dropdown-toggle {
    color: #fff;
    background: rgb(196, 27, 21) !important;
    border-color: rgba(146, 14, 9, 0.91) !important;
}

/*.main-color:not(:disabled):not(.disabled):active:focus, .main-color:not(:disabled):not(.disabled).active:focus,*/
/*.show > .main-color.dropdown-toggle:focus {*/
/*    background: rgba(215, 35, 29, 0.5) !important;*/
/*}*/

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
}

.admin-nav-font-size {
    font-size: 20px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.pr-10 {
    padding-right: 10%!important;
}

.img-fluid-main{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.main-content {
    width: 90%;
}

.form-login {
    width: 90%;
    border-radius: 5px;
    margin-top: 10%;
}

.nav-item {
    font-size: large!important;
    padding-right: 15px;
}

.data-stock {
    width: 23%;
}

.pre-wrap {
    white-space: pre-wrap;
}
.logo {
    position:absolute;
    top: -40px;
    left: 70px;
}

.row-min {
    min-height: 200px!important;
}

.text-size-figcaption {
    font-size: 12px;
}