.form {
    width: 93%;
    border-radius: 5px;
    margin-top: 0px;
}

.navbar-current {
    margin-top: 40px;
    padding-left: 440px;
    background: rgba(215, 35, 29, 0.91) !important;
    height: 70px;
}

/*.navbar-current:hover,*/
/*.navbar-current:focus {*/
/*    background: rgba(226, 67, 62, 0.91);*/
/*}*/

.copyright {
    color: #ffffff;
    text-decoration: underline;
    /*font-family: 'Amatic SC', cursive;!important;*/
}

.copyright:hover {
    color: #440b0f;
}

.main-color {
    background: rgba(215, 35, 29, 1) !important;
}

.main-color:not(:disabled):not(.disabled):active, .main-color:not(:disabled):not(.disabled).active,
.show > .main-color.dropdown-toggle {
    color: #fff;
    background: rgb(196, 27, 21) !important;
    border-color: rgba(201, 14, 8, 1) !important;
}

/*.main-color:not(:disabled):not(.disabled):active:focus, .main-color:not(:disabled):not(.disabled).active:focus,*/
/*.show > .main-color.dropdown-toggle:focus {*/
/*    background: rgba(215, 35, 29, 0.5) !important;*/
/*}*/

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
}

.nav-link-style {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;!important;
    /*font-family: 'Amatic SC', cursive;!important;*/
    font-size: 23px;
}

.nav-link-style:hover {
    color: #5a2e1a !important;
    text-decoration: none;
}

.title-size-50 {
    font-size: 50px!important;
}

.orange-color {
    color: #ffffff;
    background: #fa9821;
    border: none!important;
}

.red-color:hover {
    background: rgba(215, 35, 29, 1) !important;
}

.orange-color:hover {
    background: #ff6600;
    color: #ffffff;
    border: none!important;
}

.orange-color:active {
    /*color: #000000!important;*/
    background: #ff6600;!important;
    border: none!important;
}

.orange-color:focus {
    border: none!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.55);!important;
}

.border-orange {
    border-color: rgba(227, 125, 25, 0.23) !important;
}

.orange-shadow:focus {
    border: none!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.55);!important;
}

.orange-color:after {
    /*color: #000000!important;*/
    background: #ff6600;!important;
    border: none!important;
}

.orange-color:not(:disabled):not(.disabled):active, .orange-color:not(:disabled):not(.disabled).active,
.show > .orange-color.dropdown-toggle {
    background: #ff6600;
    color: #ffffff;
    border: none!important;
}

.nav-bottom-size {
    font-size: 18px!important;
}

.btn-size {
    font-size: 25px;
    /*font-weight: bold;*/
}

.title-size {
    font-size: 60px;
}

.description-size {
    font-size: 20px;
}

.date-size {
    font-size: 30px;
}

.font-open-sans {
    font-family: 'Open Sans Condensed', sans-serif;!important;
}

.font-amatic {
    font-family: 'Amatic SC', cursive;!important;
}

.img-rounded {
    border-radius: 2%!important;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 10vh;
}
footer {
    background: rgba(215, 35, 29, 1) !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 7vh; !*высота футера будет зависеть от высоты экрана*!*/
}


.btn-reservation {
    z-index: 1;
    text-align: right!important;
    margin-left: 33px!important;
}

.btn-reservation2 {
    z-index: 1;
    text-align: right!important;
    margin-left: 0px!important;
}

.admin-nav-font-size {
    font-size: 20px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.pr-10 {
    padding-right: 10%!important;
}

.pl-10 {
    padding-left: 10%!important;
}

.img-fluid-main{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.main-content {
    width: 90%;
}

.form-login {
    width: 90%;
    border-radius: 5px;
    margin-top: 10%;
}

.nav-item {
    font-size: large!important;
    padding-right: 15px;
}

.data-stock {
    width: 23%;
}

.pre-wrap {
    white-space: pre-wrap;
}
.logo {
    position:absolute;
    top: -40px;
    left: 70px;
    width: 270px;
}

.logo:hover {
    top: -37px;
    left: 66px;
    width: 280px;
}

.row-min {
    min-height: 200px!important;
}

.figcaption-size {
    font-size: 18px;
}